CODING_MODEL_PATH=models/assistant.gguf
CODING_MODEL_CONTEXT=8192
CODING_MODEL_THREADS=8
CODING_MODEL_GPU_LAYERS=0
CODING_MODEL_TEMPERATURE=0.2
CODING_MODEL_MAX_TOKENS=2048
CODING_MODEL_ALLOW_SHELL=0
